@mixin font-title($fs: 20px, $lh: 20px, $ls: -0.25px) {
  font-weight: 700;
  font-size: $fs;
  line-height: $lh;
  font-family: 'Jost', sans-serif;
  letter-spacing: $ls;
  color: var(--color-7);
}

@mixin font-body($fs: 16px, $lh: 23px, $fw: 400) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  font-family: 'Jost', sans-serif;
  color: var(--color-8);
}
