// typography
@mixin font-title($fs: 20px, $lh: 20px, $ls: -0.25px) {
  font-weight: 700;
  font-size: $fs;
  line-height: $lh;
  font-family: 'Jost', sans-serif;
  letter-spacing: $ls;
  color: var(--color-7);
}

@mixin font-body($fs: 16px, $lh: 23px, $fw: 400) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  font-family: 'Jost', sans-serif;
  color: var(--color-8);
}

@mixin font-link($fs: 13px, $lh: 19px, $fw: 600) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  font-family: 'Jost', sans-serif;
  text-decoration-line: underline;
  color: var(--color-2);
  transition: all 0.25s;

  &:hover {
    color: #8397F8;
  }
}

// media query
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
