@import "reset";

// colors
:root {
  --color-1: #ad1fea;
  --color-2: #4661e6;
  --color-3: #373f68;
  --color-4: #fff;
  --color-5: #f2f4ff;
  --color-6: #f7f8fd;
  --color-7: #3a4374;
  --color-8: #647196;
  --color-9: #f49f85;
  --color-10: #62bcfa;
}
